@font-face {
    font-family: Gotham;
    src: url(./GothamMedium.ttf);
}

:root{
    --green: #1DB954;
    --green-highlight: #23d762;
    scroll-behavior: smooth;
}

body{
    font-family: Gotham, 'Franklin Gothic Medium', 'Gotham', sans-serif;
    background-color: black;
    color: white;
}

header{
    padding: 15px;
}

h1, h2{
    text-align: center;
    margin: 30px 20px;
}

#main{
    margin: 60px auto 50px;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 30px 30px;
}

.flex-container a{
    width: max(40%, 350px);
    font-size: 30px;
    margin: 0;
    padding: 100px 20px;
}

.button{
    display: block;
    background-color: var(--green);
    color: black;
    width: 70px;
    border-radius: 5px; 
    border: none;
    text-align: center;
    padding: 10px 5px;
    font-size: 20px;
    text-decoration: none;
}

.button:hover{
    background-color: var(--green-highlight);
}

.button-icon{
    height: 25px;
    vertical-align: middle;
}

h2{
    font-size: 30px;
}

.playlist-input-title{
    margin-top: 80px;
}

.flex-container #playlist-input{
    width: 250px;
    font-size: 18px;
}

.flex-container #playlist-input, .flex-container button{
    height: 40px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
}

.flex-container button{
    padding: 5px 20px;
    width: auto;
    font-weight: 600;
}

.coverphoto{
    width: 250px;
    height: 250px;
}

.playlist-info{
    height: 250px;
    width: 500px;
    background-color: rgb(43, 43, 43);
    box-sizing: border-box;
    padding: 10px;
}

p{
    margin: 5px;
}

.song-info{
    text-align: center;
    margin: 30px 20px;
}

.recommendations{
    margin: 20px 30px;
    gap: 20px;
    justify-content: space-around;
}

.recommendations .embedded-link{
    padding: 0;
    width: fit-content;
}

.cover{
    width: 105px; 
    height: 105px;
}

.recommend-info{
    height: 95px;
    flex: 1;
    background-color: rgb(43, 43, 43);
    padding: 5px;
    line-height: 1.2;
}

.release-date{
    display: none;
}

@media (min-width: 600px) {
    .release-date{
        display: block;
    }
}

.flex-container .spotlink{
    width: auto;
    margin: 0;
    padding: 0;
}

.spotlink{
    display: none;
}

.spotlink img{
    width: 60px;
    height: 60px;
}

@media (min-width: 600px) {
    .spotlink{
        display: block;
    }
}

.top-button{
    text-decoration: none;
    color: white;
    text-align: center;
    display: block;
    margin-bottom: 30px;
    transition: color 0.2s;
}

.top-button:hover{
    color: #ddd;
}

.top-button img{
    width: 15px;
    transition: filter 0.2s;
}

.top-button:hover img{
    filter: brightness(0.8);
}

#genreselect{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
    justify-items: center;
    margin: 20px;
}

@media (min-width: 500px) {
    #genreselect{
        grid-template-columns: repeat(3, 1fr);
        margin: 20px 30px;
    }
}

@media (min-width: 700px) {
    #genreselect{
        grid-template-columns: repeat(4, 1fr);
        margin: 50px 70px;
    }
}

#genreselect a{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#genre{
    text-transform: capitalize;
}