<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genre Discovery</title>
    <link rel="stylesheet" href="../static/style.css"> 
    <link rel="shortcut icon" href="../static/spotify.svg" type="image/x-icon">
</head>

<body>
    <div id="top"></div>

    <header>
        <a href="/genre" class="button"><img src="../static/back.svg" alt="back icon" class="button-icon"></a>
    </header>

    <h2 id="genre">{{ selected_genre }}</h2>

    <div class="song-info"> 
        <p>{{ song_count }} recommended songs; {{ genrelength }} minutes of recommended music</p>
    </div>

    {% for item in genre_recommendations %}

    <section class="flex-container recommendations">
        <a href="https://open.spotify.com/track/{{item.3}}" target="_blank" class="embedded-link"><img src='{{item.1}}' alt="album cover" class="cover"/></a>
        <div class="recommend-info">
            <p>Song: {{item.0}}</p> 
            <p>{% if (item.2|count) == 1 %} 
                {{ "Artist: " }}
                {{ item.2.0 }}
            {% elif (item.2|count)>1 %}
                {{ "Artists: " }}
                {{ item.2 | join(", ") }}
            {% endif %}</p>
            <p class="release-date">{% if not(item.4 == "") %}
                {{ "Release date: "}}
                {{ item.4 }}
            {% endif %}
            </p>
        </div>
        <a href="https://open.spotify.com/track/{{item.3}}" class="spotlink" target="_blank"><img src="https://cdn.freebiesupply.com/logos/large/2x/spotify-2-logo-png-transparent.png" alt="spotify logo"/></a>
    </section>

    {% endfor %} 

    <a href="#top" class="top-button"><img src="../static/up_arrow.svg" alt="up arrow icon"> Back to top</a>
</body>
</html>

