<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genre Discovery</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/spotify.svg" type="image/x-icon">
    <script type="text/javascript" src="{{ url_for('static', filename='../static/genre.js') }}" defer></script>
</head>

<body>
  <header>
    <a href="/" class="button"><img src="../static/home.svg" alt="home icon" class="button-icon"></a> 
  </header>

  <h2>Please select a genre below:</h2>
  <div id="genreselect">
      <a href='./genreresults' class="button" id="pop">Pop</a> 
      <a href='./genreresults' class="button" id="rock">Rock</a>
      <a href='./genreresults' class="button" id="soul">Soul</a> 
      <a href='./genreresults' class="button" id="hip-hop">Hip-hop</a>
      <a href='./genreresults' class="button" id="indie">Indie</a>
      <a href='./genreresults' class="button" id="reggae">Reggae</a>
      <a href='./genreresults' class="button" id="country">Country</a>
      <a href='./genreresults' class="button" id="jazz">Jazz</a>
      <a href='./genreresults' class="button" id="classical">Classical</a>
      <a href='./genreresults' class="button" id="metal">Metal</a>
      <a href='./genreresults' class="button" id="punk">Punk</a>
      <a href='./genreresults' class="button" id="blues">Blues</a>
  </div>
</body>
</html>
