<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist Analyser</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/spotify.svg" type="image/x-icon">
    <script type="text/javascript" src="{{ url_for('static', filename='../static/playlist.js') }}" defer></script>
</head>

<body>
    <header>
        <a href="/" class="button"><img src="../static/home.svg" alt="home icon" class="button-icon"></a> 
    </header>

    <h2 class="playlist-input-title">Please enter a playlist link below:</h2> 
    <div class="flex-container">
        <input type="text" id="playlist-input" onchange="sanitise_data()"/>
        <button class="button" onclick="submit_playlist_id()">Enter</button>
    </div>
</body>
</html>
